# ========================
# Application Config
# ========================
APP_PORT=
NODE_ENV=
API_VERSION=
ALLOWED_ORIGINS=
THROTTLE_TTL=
THROTTLE_LIMIT=

# ========================
# Swagger Config
# ========================
SWAGGER_TITLE=
SWAGGER_DESCRIPTION=
SWAGGER_VERSION=
SWAGGER_PATH=
SWAGGER_ENABLED=

# ========================
# Database Config
# ========================
DATABASE_URL=
